.f2container  {
    padding: 1.5em 2em;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    font-size: 16px;
    font-weight: bold;
}

.footer-text {
    display: flex;
    flex-direction: row;
    gap: 3.8em;
    margin-left: 2em;
    font-weight: bold;
}

.f2container ul {
    list-style: none;
    margin-left: 2em;
}

.f2container ul li {
    padding-bottom: 0.5em;
}

.f2container iframe {

    width: 50%;
    height: auto;
}

hr {
    height: 0.15em;
    background-color: black;
    margin-top: 0em;
}